# Instapaper API v2 personal access token
# Register an app at https://www.instapaper.com/developers/applications/create,
# then click "Generate access token" on the app's page.

INSTAPAPER_ACCESS_TOKEN=your_access_token_here
